/*==========================GLOBAL=========================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    font-size: 62.5%;
    /* 1rem = 10px */
    --Blue800: hsl(234, 29%, 20%);
    --Blue700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%, 58%);
    --White: hsl(0, 0%, 100%);
    --primaryRed: hsl(4, 100%, 67%);
    /*FONT
    .roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    }

    */

}

/*==========================BODY=========================*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Blue700);
}

/*==========================CONTAINER_NEWSLETTER-mobileFisrt=========================*/
.container_newsletter {
    width: min(37.5rem, 100%);
    font-family: "Roboto", sans-serif;
    background-color: var(--White);
    padding-bottom: 4rem;
}

/*==========================WRAPPER=========================*/
.wrapper {
    display: flex;
    flex-direction: column;
}

/*==========================CONTAINER_NEWSLETTER_ASIDE_IMAGE=========================*/
.container_newsletter .wrapper .container_newsletter_background_image {
    width: min(37.5rem, 100%);
    height: 28.4rem;
    background-image: url('../assets/images/illustration-sign-up-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*==========================CONTAINER_NEWSLETTER_SECTION_CONTENT=========================*/

.container_newsletter .wrapper .container_newsletter_section_content {
    padding-inline: 2rem;
    margin-top: 2rem;
}

.wrapper .container_newsletter_section_content h1 {
    color: var(--Blue800);
    font-size: 4rem;
}

.wrapper .container_newsletter_section_content p {
    color: var(--Blue700);
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.container_newsletter_section_content .container_newsletter_section_content_list {
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.container_newsletter_section_content .container_newsletter_section_content_list li {
    position: relative;
    padding: 0rem 0rem 0rem 3.5rem;
    font-size: 1.6rem
}

.container_newsletter_section_content .container_newsletter_section_content_list li::before {
    position: absolute;
    left: 0;
    content: url("../assets/images/icon-list.svg");
}


.container_newsletter_section_content .container_newsletter_section_content_form form {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 2.5rem;
}

.container_newsletter_section_content_form form label {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--Blue800);
    font-weight: 900;
}

form .container_newsletter_section_content_form_inputEmail {
    padding: 1.8rem;
    border-radius: 10px;
    border: solid 1px var(--Grey);
    outline: var(--Grey);
    cursor: pointer;
}

form .container_newsletter_section_content_form_inputButton {
    padding: 1.8rem;
    border-radius: 10px;
    border: solid 1px transparent;
    background-color: var(--Blue800);
    color: var(--White);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.3s;

}


form .container_newsletter_section_content_form_inputButton:hover {
    background-color: var(--primaryRed);
    transition: ease 0.3s;
}


@media (min-width:700px) {

    /*==========================CONTAINER_NEWSLETTER-mobileFisrt=========================*/
    .container_newsletter {
        width: min(52.8rem, 100%);
        padding: 1rem;
        border-radius: 10px;
    }

    /*==========================WRAPPER=========================*/

    /*==========================CONTAINER_NEWSLETTER_ASIDE_IMAGE=========================*/
    .container_newsletter .wrapper .container_newsletter_background_image {
        width: min(52.8rem, 100%);
        height: 36rem;
        background-image: url('../assets/images/illustration-sign-up-tablet.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}


@media (min-width:1400px) {

    /*==========================CONTAINER_NEWSLETTER-mobileFisrt=========================*/
    .container_newsletter {
        width: min(100rem, 100%);
        height: 64rem;
        border-radius: 40px;
        padding-right: 2rem;
        padding-block: 2rem;
    }

    /*==========================WRAPPER=========================*/
    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 6rem;

    }

    /*==========================CONTAINER_NEWSLETTER_SECTION_CONTENT=========================*/
    .wrapper .container_newsletter_section_content h1 {
        font-size: 5.5rem;
    }


    .container_newsletter_section_content_form form label {
        padding-bottom: 0rem;

    }

    .container_newsletter_section_content .container_newsletter_section_content_form form {
        gap: 2rem;
    }

    /*==========================CONTAINER_NEWSLETTER_ASIDE_IMAGE=========================*/
    .container_newsletter .wrapper .container_newsletter_background_image {
        width: min(40rem, 100%);
        height: 59.3rem;
        background-image: url('../assets/images/illustration-sign-up-desktop.svg');
        background-size: cover;
        border-radius: 0rem;

    }
}

/* Amanhã só precisa:
 - terminar a responsividade do Desktop 
 - Terminar os status actives
 - Começar a construir a Lógica (opcional)

*/